<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.premiere.mapper.EnterpriseMapper">
    <resultMap id="BaseResultMap" type="com.premiere.pojo.Enterprise">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="labels" jdbcType="VARCHAR" property="labels"/>
        <result column="coordinate" jdbcType="VARCHAR" property="coordinate"/>
        <result column="ishot" jdbcType="VARCHAR" property="ishot"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="jobcount" jdbcType="INTEGER" property="jobcount"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, name, summary, address, labels, coordinate, ishot, logo, jobcount, url
  </sql>
    <select id="selectByExample" parameterType="com.premiere.pojo.EnterpriseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_enterprise
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_enterprise
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.premiere.pojo.EnterpriseExample">
        delete from tb_enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.premiere.pojo.Enterprise">
    insert into tb_enterprise (id, name, summary, 
      address, labels, coordinate, 
      ishot, logo, jobcount, 
      url)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{labels,jdbcType=VARCHAR}, #{coordinate,jdbcType=VARCHAR}, 
      #{ishot,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{jobcount,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.premiere.pojo.Enterprise">
        insert into tb_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="labels != null">
                labels,
            </if>
            <if test="coordinate != null">
                coordinate,
            </if>
            <if test="ishot != null">
                ishot,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="jobcount != null">
                jobcount,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="labels != null">
                #{labels,jdbcType=VARCHAR},
            </if>
            <if test="coordinate != null">
                #{coordinate,jdbcType=VARCHAR},
            </if>
            <if test="ishot != null">
                #{ishot,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="jobcount != null">
                #{jobcount,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.premiere.pojo.EnterpriseExample" resultType="java.lang.Integer">
        select count(*) from tb_enterprise
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_enterprise
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.summary != null">
                summary = #{record.summary,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.labels != null">
                labels = #{record.labels,jdbcType=VARCHAR},
            </if>
            <if test="record.coordinate != null">
                coordinate = #{record.coordinate,jdbcType=VARCHAR},
            </if>
            <if test="record.ishot != null">
                ishot = #{record.ishot,jdbcType=VARCHAR},
            </if>
            <if test="record.logo != null">
                logo = #{record.logo,jdbcType=VARCHAR},
            </if>
            <if test="record.jobcount != null">
                jobcount = #{record.jobcount,jdbcType=INTEGER},
            </if>
            <if test="record.url != null">
                url = #{record.url,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_enterprise
        set id = #{record.id,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        summary = #{record.summary,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        labels = #{record.labels,jdbcType=VARCHAR},
        coordinate = #{record.coordinate,jdbcType=VARCHAR},
        ishot = #{record.ishot,jdbcType=VARCHAR},
        logo = #{record.logo,jdbcType=VARCHAR},
        jobcount = #{record.jobcount,jdbcType=INTEGER},
        url = #{record.url,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.premiere.pojo.Enterprise">
        update tb_enterprise
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="labels != null">
                labels = #{labels,jdbcType=VARCHAR},
            </if>
            <if test="coordinate != null">
                coordinate = #{coordinate,jdbcType=VARCHAR},
            </if>
            <if test="ishot != null">
                ishot = #{ishot,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="jobcount != null">
                jobcount = #{jobcount,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.premiere.pojo.Enterprise">
    update tb_enterprise
    set name = #{name,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      labels = #{labels,jdbcType=VARCHAR},
      coordinate = #{coordinate,jdbcType=VARCHAR},
      ishot = #{ishot,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      jobcount = #{jobcount,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>