<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.premiere.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.premiere.pojo.Article" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="columnid" property="columnid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="ispublic" property="ispublic" jdbcType="VARCHAR" />
    <result column="istop" property="istop" jdbcType="VARCHAR" />
    <result column="visits" property="visits" jdbcType="INTEGER" />
    <result column="thumbup" property="thumbup" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="channelid" property="channelid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.premiere.pojo.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, columnid, userid, title, image, createtime, updatetime, ispublic, istop, visits, 
    thumbup, comment, state, channelid, url, type
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.premiere.pojo.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.premiere.pojo.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_article
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_article
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.premiere.pojo.ArticleExample" >
    delete from tb_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.premiere.pojo.Article" >
    insert into tb_article (id, columnid, userid, 
      title, image, createtime, 
      updatetime, ispublic, istop, 
      visits, thumbup, comment, 
      state, channelid, url, 
      type, content)
    values (#{id,jdbcType=VARCHAR}, #{columnid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{ispublic,jdbcType=VARCHAR}, #{istop,jdbcType=VARCHAR}, 
      #{visits,jdbcType=INTEGER}, #{thumbup,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR}, #{channelid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.premiere.pojo.Article" >
    insert into tb_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="columnid != null" >
        columnid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="ispublic != null" >
        ispublic,
      </if>
      <if test="istop != null" >
        istop,
      </if>
      <if test="visits != null" >
        visits,
      </if>
      <if test="thumbup != null" >
        thumbup,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="channelid != null" >
        channelid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="columnid != null" >
        #{columnid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispublic != null" >
        #{ispublic,jdbcType=VARCHAR},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=VARCHAR},
      </if>
      <if test="visits != null" >
        #{visits,jdbcType=INTEGER},
      </if>
      <if test="thumbup != null" >
        #{thumbup,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="channelid != null" >
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.premiere.pojo.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from tb_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_article
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.columnid != null" >
        columnid = #{record.columnid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ispublic != null" >
        ispublic = #{record.ispublic,jdbcType=VARCHAR},
      </if>
      <if test="record.istop != null" >
        istop = #{record.istop,jdbcType=VARCHAR},
      </if>
      <if test="record.visits != null" >
        visits = #{record.visits,jdbcType=INTEGER},
      </if>
      <if test="record.thumbup != null" >
        thumbup = #{record.thumbup,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.channelid != null" >
        channelid = #{record.channelid,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_article
    set id = #{record.id,jdbcType=VARCHAR},
      columnid = #{record.columnid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      ispublic = #{record.ispublic,jdbcType=VARCHAR},
      istop = #{record.istop,jdbcType=VARCHAR},
      visits = #{record.visits,jdbcType=INTEGER},
      thumbup = #{record.thumbup,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      state = #{record.state,jdbcType=VARCHAR},
      channelid = #{record.channelid,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_article
    set id = #{record.id,jdbcType=VARCHAR},
      columnid = #{record.columnid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      ispublic = #{record.ispublic,jdbcType=VARCHAR},
      istop = #{record.istop,jdbcType=VARCHAR},
      visits = #{record.visits,jdbcType=INTEGER},
      thumbup = #{record.thumbup,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      state = #{record.state,jdbcType=VARCHAR},
      channelid = #{record.channelid,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.premiere.pojo.Article" >
    update tb_article
    <set >
      <if test="columnid != null" >
        columnid = #{columnid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ispublic != null" >
        ispublic = #{ispublic,jdbcType=VARCHAR},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=VARCHAR},
      </if>
      <if test="visits != null" >
        visits = #{visits,jdbcType=INTEGER},
      </if>
      <if test="thumbup != null" >
        thumbup = #{thumbup,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="channelid != null" >
        channelid = #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.premiere.pojo.Article" >
    update tb_article
    set columnid = #{columnid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      ispublic = #{ispublic,jdbcType=VARCHAR},
      istop = #{istop,jdbcType=VARCHAR},
      visits = #{visits,jdbcType=INTEGER},
      thumbup = #{thumbup,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      channelid = #{channelid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.premiere.pojo.Article" >
    update tb_article
    set columnid = #{columnid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      ispublic = #{ispublic,jdbcType=VARCHAR},
      istop = #{istop,jdbcType=VARCHAR},
      visits = #{visits,jdbcType=INTEGER},
      thumbup = #{thumbup,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      channelid = #{channelid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>